.hr {color:rgb(168, 223, 237);}
h1 {text-align:center; font-size: 40px; font-family:Serif; font-weight: strong;}
p {font-family:Sans-Serif; text-align:left; font-size: 20px}



.container {background-color:rgb(218,165,32);}

.navbar{
    background-color: orange;
    border-radius: 25px;
    position:fixed;
    top: 0px;
    transition: .10s;
    width: 98%;
    padding: 5px;
    display: inline-block;
    z-index: 1;
}
.navbar li{
    float:right;
    list-style: none;
    margin: 2px 6px;
}
.navbar ul{
    overflow: auto;
    margin: 2px 2px;
    padding: 20px 26px
}
.navbar a{
    padding: 19px 35px;
    font-size: 30px;
    text-decoration: none;
    color: white;
   
}
.navbar ul li:hover{
    background:magenta;
    font-family:  sans-serif;
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;
    transition: .5s;
}
.image3{
    width: 15%;
    
}
.img{
    margin: 150px 500px;
    border-radius: 35px;
    box-shadow: 2px 2px 5px 10px magenta;
    width: 50%;
    
}